MarkupSafe==3.0.3
annotated-types==0.7.0
typing_extensions==4.15.0
nvidia-cufft==12.0.0.61
nvidia-curand==10.4.0.35
matplotlib==3.10.8
nvidia-nvjitlink==13.0.88
pyparsing==3.3.2
llvmlite==0.46.0
click==8.3.1
session-info2==0.4
sympy==1.14.0
urllib3==2.6.3
joblib==1.5.3
patsy==1.0.2
pynndescent==0.6.0
scikit-learn==1.7.2
scgg==0.1.0
smmap==5.0.3
array-api-compat==1.14.0
nvidia-cusolver==12.0.4.66
kiwisolver==1.5.0
tzdata==2025.3
nvidia-cuda-runtime==13.0.96
python-dateutil==2.9.0.post0
nvidia-nvtx==13.0.85
numpy==2.2.6
pydantic==2.12.5
statsmodels==0.14.6
cuda-pathfinder==1.5.0
triton==3.6.0
Jinja2==3.1.6
pillow==12.1.1
charset-normalizer==3.4.6
legacy-api-wrap==1.5
pydantic_core==2.41.5
platformdirs==4.9.4
nvidia-nvshmem-cu13==3.4.5
nvidia-cufile==1.15.1.6
exceptiongroup==1.3.1
nvidia-cuda-cupti==13.0.85
six==1.17.0
certifi==2026.2.25
mpmath==1.3.0
natsort==8.4.0
gitdb==4.0.12
pytz==2026.1.post1
setuptools==81.0.0
GitPython==3.1.46
scipy==1.15.3
h5py==3.16.0
scanpy==1.11.5
numba==0.64.0
filelock==3.25.2
fonttools==4.62.1
anndata==0.11.4
pandas==2.3.3
fsspec==2026.2.0
faiss-cpu==1.13.2
threadpoolctl==3.6.0
sentry-sdk==2.56.0
contourpy==1.3.2
networkx==3.4.2
PyYAML==6.0.3
nvidia-cuda-nvrtc==13.0.88
nvidia-cublas==13.1.0.3
nvidia-cusparse==12.6.3.3
nvidia-nccl-cu13==2.28.9
tqdm==4.67.3
nvidia-cusparselt-cu13==0.8.0
torch==2.11.0
nvidia-cudnn-cu13==9.19.0.56
seaborn==0.13.2
protobuf==6.33.6
idna==3.11
cycler==0.12.1
requests==2.33.0
packaging==26.0
cuda-bindings==13.2.0
typing-inspection==0.4.2
umap-learn==0.5.11
cuda-toolkit==13.0.2
wandb==0.25.1
scgg==0.1.0
